{% macro render_post(post,current_user) %}
  
<div class="row">
    <div class="col-md-2 text-right metadata">
        <ul class="list-unstyled">
            <li>
                {{ post.datetime | dateformat("%d/%m/%y") }}
            </li>
        </ul>
    </div>
    <div class="col-md-10">
        <h1>
            <a href="{{ url_for('post_detail',id=post.id) }}">{{ post.title }}</a>
           
        </h1>
      
        {% if post.author.name %}
        Author: <strong>{{ post.author.name }}</strong><br>
        {% endif %}
        {{ post.content | safe }}
        <br><br>
        {% if post.author_id == current_user.id %}
         <a href="{{ url_for('get_edit',id=post.id) }}"><button type="button" class="btn btn-default">Edit this post</button></a>
         <a href="{{ url_for('get_delete',id=post.id) }}"><button type="button" class="btn btn-default">Delete this post</button></a>
        {% endif %}
    </div>
</div>
{% endmacro %}